<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body >
    <div class="body"><br>
    <div class="login_form"><form action="/register" method="post">
        <h1>Sign up Page</h1><br><br>
        Name <br><input type="text" name="name" required placeholder="enter your name"><br><br>
        email <br><input type="text" name="email" required placeholder="enter your email"><br><br>
        password <br><input type="password" name="password" required placeholder="enter your password"><br><br>
        confirmpassword <br><input type="password" name=" confirmpassword" required placeholder="confirm your password"><br><br>
        <button class="login">REGISTER</button><br><br>
        <h2 align="center" style="color: red;">
            <% if(locals.message){
                %>
                <%=message%>
                <%}%>
        </h2>
    </form>
    <a href="/login">already have an account?<a href="/login"><button class="create1">login</button></a><br><br></a>
</div>
</div>
</body>
</html>